<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34629510419-npdmkpqpoc4mop9d3dce4s5jlimiuf1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34629510419-npdmkpqpoc4mop9d3dce4s5jlimiuf1o</string>
	<key>API_KEY</key>
	<string>AIzaSyCgE_ns5P_1zxifIf5UdueYMIC63U282zg</string>
	<key>GCM_SENDER_ID</key>
	<string>34629510419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clicker.shaheen.Clicker</string>
	<key>PROJECT_ID</key>
	<string>clicker-469cf</string>
	<key>STORAGE_BUCKET</key>
	<string>clicker-469cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34629510419:ios:709cbebe714ee4388d66e6</string>
</dict>
</plist>